  .mat-header-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .file-upload-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;  // Add margin to the top of the form to prevent overlapping
  }
  
  .file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .upload-button {
    align-self: flex-start;
  }
  
  .file-name {
    font-size: 1rem;
  }
  